body{

margin:0;

font-family:'Fredoka',sans-serif;

background:#2b003b;

color:white;

}

header{

text-align:center;

padding:15px;

}

.mascot{

font-size:28px;

}

main{

padding:15px;

padding-bottom:80px;

}

.page{

display:none;

}

.page.active{

display:block;

}

.stats{

display:flex;

gap:10px;

margin-bottom:15px;

}

.stat{

flex:1;

background:#1a001f;

padding:12px;

border-radius:15px;

text-align:center;

}

.card{

background:#1a001f;

padding:15px;

border-radius:18px;

margin-bottom:15px;

box-shadow:0 8px 20px rgba(0,0,0,0.4);

}

input,select{

width:100%;

padding:10px;

margin-top:8px;

border-radius:12px;

border:none;

}

button{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:14px;

background:#9333ea;

color:white;

font-size:16px;

}

.category{

background:#1a001f;

padding:12px;

border-radius:15px;

margin-bottom:10px;

}

.progressBar{

background:#3b0764;

height:16px;

border-radius:20px;

overflow:hidden;

margin-top:8px;

}

.progress{

background:linear-gradient(90deg,#c084fc,#ff9ff3);

height:100%;

transition:0.5s;

}

.goal{

background:#1a001f;

padding:12px;

border-radius:15px;

margin-top:10px;

}

.navBar{

position:fixed;

bottom:0;

left:0;

right:0;

height:60px;

background:#1a001f;

display:flex;

justify-content:space-around;

align-items:center;

}

.navBar button{

background:none;

border:none;

font-size:24px;

color:white;

}

ul{

list-style:none;

padding:0;

}

li{

background:#3b0764;

padding:8px;

border-radius:10px;

margin-bottom:6px;

}

li button{
margin-left:10px;
font-size:12px;
padding:4px 8px;
}

.icon-picker{
display:flex;
flex-wrap:wrap;
gap:8px;
margin-top:10px;
}

.icon-picker img{
width:40px;
height:40px;
cursor:pointer;
border-radius:12px;
transition:0.2s;
border:2px solid transparent;
}

.icon-picker img:hover{
transform:scale(1.1);
}

.icon-picker img.selected{
border:2px solid #c084fc;
box-shadow:0 0 10px #c084fc;
}

.icon{
width:30px;
vertical-align:middle;
margin-right:6px;
}

.icon-picker{
display:flex;
flex-wrap:wrap;
gap:12px;
margin-top:10px;
}

.icon-item{
display:flex;
flex-direction:column;
align-items:center;
cursor:pointer;
padding:6px;
border-radius:12px;
transition:0.2s;
border:2px solid transparent;
width:70px;
}

.icon-item img{
width:40px;
height:40px;
}

.icon-item span{
font-size:12px;
margin-top:4px;
}

.icon-item:hover{
transform:scale(1.08);
}

.icon-item.selected{
border:2px solid #c084fc;
box-shadow:0 0 10px #c084fc;
}


.nav-icon{
width:40px;
height:40px;
object-fit:contain;
}

.goal button{
margin-top:6px;
}